{% extends 'base.html' %}

{% block title %}Success{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Operation Successful</h2>
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <p class="lead text-center">
                {{ message }}
            </p>
            <p class="text-center">Feel free to return to the <a href="{% url 'home' %}">homepage</a> and continue
                exploring
                our features.</p>
        </div>
    </div>

</div>
{% endblock %}