{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load custom_filters %}

{% block title %}{{ book.title }}{% endblock %}


{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/book.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">"{{ book.title }}"</h1>

    <div class="card shadow-sm mb-4">
        <div class="row g-0">
            <!-- Book Details -->
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><strong>Details</strong></h5>
                    <p class="card-text" style="margin-left: 20px;"><strong>Author:</strong> {{ book.author.name }}</p>
                    <p class="card-text" style="margin-left: 20px;"><strong>Date Published:</strong>
                        {{ book.date_published }}</p>
                    <p class="card-text" style="margin-left: 20px;"><strong>Age:</strong> {{ book.age }} years</p>
                    <p class="card-text" style="margin-left: 20px;"><strong>ISBN:</strong> {{ book.isbn }}</p>
                    <p class="card-text" style="margin-left: 20px;"><strong>Pages:</strong> {{ book.pages }}</p>
                    <p class="card-text" style="margin-left: 20px;"><strong>Language:</strong> {{ book.language }}</p>
                    <p class="card-text" style="margin-left: 20px;"><strong>Rating:</strong> {{ book.rating }}</p>
                    <p class="card-text" style="margin-left: 20px;"><strong>Reviews Number:</strong>
                        {{ book.review_num }}</p>
                </div>
            </div>

            <!-- Book Cover Image -->
            <div class="col-md-4 text-center">
                {% if book.cover_image %}
                <img src="{{ book.cover_image.url }}" class="img-fluid rounded-start" alt="Book Cover"
                    style="max-height: 400px; object-fit: cover;">
                {% else %}
                <img src="{% static 'book.jpeg' %}" class="img-fluid rounded-start" alt="Default Book Cover"
                    style="max-height: 400px; object-fit: cover;">
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Summary Card -->
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h5 class="card-title"><strong>Summary</strong></h5>
            <p class="card-text">{{ book.summary }}</p>
        </div>
    </div>

    <!-- Reviews Card -->
    <div class="card shadow-sm mb-4">
        <div class="card-body position-relative">
            <h5 class="card-title mb-4"><strong>Reviews</strong></h5>

            {% if user.is_authenticated %}
            {% for review in book.reviews %}
            <div class="mb-4 mt-4 position-relative border p-3 pb-5 rounded" style="background-color: #f8f9fa;">
                {% if review.starred %}
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="#ffc107"
                    class="bi bi-star-fill star-icon" viewBox="0 0 16 16"
                    style="position: absolute; top: 1em; right: 1em;">
                    <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
                {% endif %}

                <p class="card-text"><strong>{{ review.critic.name }}</strong> - <span class="text-muted">
                        {{ review.date_created|date:"F j, Y" }}</span></p>
                <p class="card-text">{{ review.content }}</p>

                <div class="reaction-counts" style="position: absolute; bottom: 0.5em; right: 0.5em;">
                    <span style="margin-right: 0.5em;">
                        <button class="btn" onclick="toggleLike({{ review.id }})">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" fill="#027bff"
                                class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" id="like-active-{{ review.id }}"
                                style="display: {{ like_statuses_active|hash:review.id }};">
                                <path
                                    d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" fill="#027bff"
                                class="bi bi-arrow-up-circle" viewBox="0 0 16 16" id="like-inactive-{{ review.id }}"
                                style="display: {{ like_statuses_unactive|hash:review.id }};">
                                <path fill-rule="evenodd"
                                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z" />
                            </svg>
                            <div id="like-count-{{ review.id }}">
                                {{ review.like_count }}
                            </div>
                        </button>
                    </span>
                    <span>
                        <button class="btn" onclick="toggleDislike({{ review.id }})">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" fill="#dc3545"
                                class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16"
                                style="display: {{ disliked_statuses_active|hash:review.id }};"
                                id="dislike-active-{{ review.id }}">
                                <path
                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z" />
                            </svg>

                            <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" fill="#dc3545"
                                class="bi bi-arrow-down-circle" viewBox="0 0 16 16"
                                style="display: {{ disliked_statuses_unactive|hash:review.id }};"
                                id="dislike-inactive-{{ review.id }}">
                                <path fill-rule="evenodd"
                                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z" />
                            </svg>
                            <div id="dislike-count-{{ review.id }}">
                                {{ review.dislike_count }}
                            </div>
                        </button>
                    </span>
                </div>
            </div>
            {% empty %}
            <p class="text-center">No reviews available for this book.</p>
            {% endfor %}
            {% else %}
            <p class="text-center">You need to be <a href="{% url 'login' %}">logged in</a> to see the reviews.</p>
            {% endif %}
        </div>
    </div>

    <div class="text-center mt-4">
        <a href="{% url 'book-list' %}" class="btn btn-primary">Back to Book List</a>
    </div>
</div>

{% endblock %}

{% block custom_js %}
<script src="{% static 'js/book.js' %}" defer></script>
{% endblock %}