{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">About This Project</h2>
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <p class="lead text-center">
                You arrived at the stunning website made to bring back the beauty of literature to the masses.
                You will be easily capable of searching for any book in our database, searching for their reviews,
                authors, and many more.
            </p>
        </div>
    </div>

    <h3 class="text-center mb-4">About Me</h3>
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <p class="lead text-center">
                I am a Data Science student at the Warsaw University of Technology (WUT). This project is developed as
                part of my classes to apply the knowledge I've gained and to create a useful resource for book lovers.
                Through this website, I aim to combine my passion for literature with data science by providing an
                easy-to-use platform for exploring books and their reviews.
            </p>
        </div>
    </div>

    <h3 class="text-center mb-4">Official Info</h3>
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h5 class="font-weight-bold">Course Name:</h5>
            <p>Programming of WWW Applications course for DS studies in Winter 2024/25</p>

            <h5 class="font-weight-bold">Project Requirements:</h5>
            <ul class="list-unstyled">
                <li>✔️ Allow users login and password reset</li>
                <li>✔️ There are a normal user, manager, and backend admin roles</li>
                <li>✔️ The application allows only logged-in users to access restricted resources</li>
                <li>✔️ At least 2 tables with items browsable by the regular user, which can be filtered</li>
                <li>✔️ The application is aesthetically pleasing</li>
                <li>✔️ The application is responsive (adapted to at least two resolutions, e.g. computer and tablet)
                </li>
                <li>✔️ All forms data is validated</li>
                <li>✔️ The application allows you to save or modify records</li>
                <li>✔️ Use of AJAX technology or similar techniques</li>
                <li>✔️ The application follows good programming practices</li>
                <li>✔️ The application has no difficulty in deployment on a separate machine</li>
                <li>✔️ Automatic tests</li>
                <li>✔️ Short report with idea outline, data flow, and main views screenshots</li>
                <li>✔️ Source codes</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}