{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Request</title>

    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
</head>

<body>

    <div class="email-container">
        <div class="email-header">
            <h1>Password Reset Request</h1>
        </div>

        <div class="email-body">
            <p>Hi {{ user.get_username }},</p>
            <p>We received a request to reset the password for your account. Click the button below to reset your
                password.</p>
            <div class="email-button">
                <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
                    Reset Password
                </a>
            </div>
            <p>If you didn’t request this, please ignore this email. Your password won’t be changed.</p>
        </div>

        <div class="email-footer">
            <p>&copy; {{ current_year }} The Imperial Book Database. All rights reserved.</p>
        </div>
    </div>

</body>

</html>